@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$colors: (
   primarycolor:#008,
   primarycolor-light: lighten(#008, 30%),
   accent: #bbb,
   text: #fff,
   headings: red
);

@function color ($colors-name) {
     @return map-get($colors, $colors-name)
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
    
  }
  
$padding: 15px;
$border: 25px;

body, html { 
    height: 100%
}

.brand {
  font-family: 'Great Vibes', cursive;
}

body {
    background-color: color(accent);
    font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 0;

 #bg {
 clip-path: polygon(100% 0, 100% 62%, 47% 100%, 0 100%, 0 0);
   background-color: color(primarycolor);
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: -1;

   @include desktop {
     clip-path: polygon(0 0, 73% 0, 46% 100%, 0% 100%);
   }
 }

nav header {
  padding: $padding;
  display: flex;
  justify-content: space-between;


  ul {
   display: flex;
   margin-top: 0.9px;

   li {
     list-style-type: none;
     
     a {
       text-decoration: underline;
       font-size: 20px;
       padding-left: 20px;

       @include desktop {
        padding-right: 30px;
        color: blue;
       }
       
     }
     a:hover {
        color: blue;

        @include desktop {
          color: #fff;
        }
      } 
   }
  } 


}


header a {
  color: color(text);
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-weight: 900;
}

header a:hover{
  text-decoration: underline;
}

}

main {
    

    section#card {
      background-color: color(accent);
      width: 80%;
      padding: $padding;
      border-radius: $border;
      margin: 8px auto;


      @include desktop {
        width: 40%;
        border-color: color(primarycolor);
        border-style: groove;
        margin-right: 50px;
        margin-top: 100px;
      }

    }

      ul {
        list-style-type: none;

        li {
              margin: 12px;

              span {
                  position: absolute;
                  width: 20px; 
                  height: 20px;
                  background-color: color(primarycolor-light);
                  border-radius: 50%;
                  margin-right: 10px;
              }
          p {
            display: inline-block;
            margin-left: max(28px);
            margin-top: 1px;

          }
        }
      }
    }

    section#contact {
           
           @include desktop {
               width: 50%;
               margin-top: -240px;
  
             }
           
           h1 {
             color: #fff;
             text-align: center;
             font-size: 35px;
             text-transform: uppercase;

             @include desktop {
               line-height: 50px;
               text-align: left;
               padding: $padding $padding * 3;
             }

           }
         
         p {
           color: color(accent);
           text-align: center;
           margin-top: -20px;

           @include desktop {
             text-align: left;
             padding: $padding $padding * 3;
           }
         }
        
        button {
          background-color: color(accent);
          padding: 10px;
          font-family: 'Times New Roman', Times, serif;
          font-size: 20px;
          border-radius: $border;
          border-style: groove;
          display: block;
          margin: 0 auto;
          
          @include desktop {
            display: inline-block;
            padding: $padding $padding * 3;
            margin-left: 45px;
          }
        }
    
      button a {
          color: color(primarycolor);
          text-decoration: none;
      }

      button:hover {
            background-color: color(primarycolor);
      }

      button a:hover{
        color: #fff;
      }
    }



